:root {
    --page-max-width: 100%;
  }

.btn-primary {
    background-color: #df5210 !important;
    border-color: #df5210 !important;
}

.grid-row-open .form-in-grid {
    max-width: var(--form-in-grid-max-width, 100%); /* Default value */
}

/* .navbar {
    background-color: #007bff !important;
}
 */
